{% extends "bootstrap/base.html" %}

{% block title %} MPA Liste de courses {% endblock %}

{% block navbar %}
<!-- <header>
    <h1>Mes courses</h1>
    <h3>Anna</h3>
    <a href="">Deconnexion</a>
</header> -->
<nav>
  <ul>
      <li>
          <a href="">Mes listes</a>
      </li>
      <li>
          <a href="">Mes catégories</a>
      </li>
      <li>
          <a href="">Mes magasins</a>
      </li>
      <li>
          <a href="">Mes recettes</a>
      </li>
  </ul>
</nav>
{% endblock %}

{% block content %}
  {% block contenu %}
  <img src="{{ url_for('static', filename='logo_caddie.png') }}">
  {% endblock %}
{% endblock %}
